<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.roxy.maven.dinner.dao.ApplyPartyDao">
    <resultMap id="applyPartyMap" type="applyParty">
        <id property="id" column="apid" />
        <result property="reason" column="reason" />
        <result property="remark" column="remark" />
        <result property="payStatus" column="payStatus" />
        <association property="user" javaType="user">
            <id property="id" column="id" />
            <result property="email" column="email" />
            <result property="emailStatus" column="emailStatus" />
            <result property="password" column="password" />
            <result property="nickname" column="nickname" />
            <result property="icon" column="icon" />
            <result property="sex" column="sex" />
            <result property="mobile" column="mobile" />
            <result property="mobileStatus" column="mobileStatus" />
            <result property="job" column="job" />
            <result property="about" column="about" />
            <result property="hostStatus" column="hostStatus" />
            <association property="area" javaType="area">
                <id property="id" column="aid"/>
                <result property="name" column="aname"/>
                <!-- 父级 -->
                <association property="parent" javaType="area">
                    <id property="id" column="pid"/>
                </association>
            </association>
        </association>
        <association property="dinner" javaType="dinner">
            <id property="id" column="did" />
            <result property="startTime" column="startTime" />
            <result property="endTime" column="endTime" />
        </association>
    </resultMap>

    <insert id="create" parameterType="applyParty" useGeneratedKeys="true" keyProperty="id">
        insert into applyParty(userId, dinnerId, reason, remark, applyTime)
        values (#{user.id},#{dinner.id},#{reason},#{remark},#{applyTime})
    </insert>

    <delete id="delete" parameterType="long">
        delete from applyParty where id=#{id}
    </delete>

    <select id="findByUserId" parameterType="long" resultMap="applyPartyMap">
        select ap.id apid, ap.reason,ap.remark,ap.payStatus,u.*,d.id did,d.startTime,d.endTime,a.id aid, a.name aname, a.parentId pid
        from applyParty ap,users u,dinner d, areas a
        where ap.userId=u.id and ap.dinnerId=d.id and u.areaId=a.id and u.id=#{userId} order by ap.id desc
    </select>

    <select id="findByDinnerId" parameterType="long" resultMap="applyPartyMap">
        select ap.id apid, ap.reason,ap.remark,ap.payStatus,u.*,d.id did,d.startTime,d.endTime,a.id aid, a.name aname, a.parentId pid
        from applyParty ap,users u,dinner d, areas a
        where ap.userId=u.id and ap.dinnerId=d.id and u.areaId=a.id and d.id=#{dinnerId} order by ap.id desc
    </select>

    <select id="findByUserIdAndDinnerId" parameterType="long" resultMap="applyPartyMap">
        select ap.id apid, ap.reason,ap.remark,ap.payStatus,u.*,d.id did,d.startTime,d.endTime,a.id aid, a.name aname, a.parentId pid
        from applyParty ap,users u,dinner d, areas a
        where ap.userId=u.id and ap.dinnerId=d.id and u.areaId=a.id and u.id=#{arg0} and d.id=#{arg1}
    </select>

    <update id="updatePayStatus" parameterType="applyParty">
        update applyParty set payStatus = 1 where userId=#{user.id} and dinnerId=#{dinner.id};
    </update>

</mapper>