<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.roxy.maven.dinner.dao.CategoryDao">
  
    <insert id="create" parameterType="category" useGeneratedKeys="true" keyProperty="id">
        insert into category(name) values(#{name})
    </insert>

    <update id="delete" parameterType="long">
        update category set status=1 where id=#{id}
    </update>

    <select id="findById" parameterType="long" resultType="category">
        select * from category where id=#{id}
    </select>

    <select id="findAll" resultType="category">
        select * from category
    </select>
</mapper>