<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.roxy.maven.dinner.dao.DinnerDao">
    <resultMap id="dinnerMap" type="dinner">
        <id property="id" column="did" />
        <result property="titel" column="titel" />
        <result property="price" column="price" />
        <result property="maximum" column="maximum" />
        <result property="startTime" column="startTime" />
        <result property="endTime" column="endTime" />
        <result property="label" column="label" />
        <result property="address" column="address" />
        <result property="thumbnail" column="thumbnail" />
        <result property="details" column="details" />
        <result property="enrolment" column="enrolment" />
        <result property="interest" column="interest" />
        <result property="status" column="dstatus"/>
        <association property="user" javaType="user">
            <id property="id" column="id" />
            <result property="email" column="email" />
            <result property="emailStatus" column="emailStatus" />
            <result property="password" column="password" />
            <result property="nickname" column="nickname" />
            <result property="icon" column="icon" />
            <result property="sex" column="sex" />
            <result property="mobile" column="mobile" />
            <result property="mobileStatus" column="mobileStatus" />
            <result property="job" column="job" />
            <result property="about" column="about" />
            <result property="hostStatus" column="hostStatus" />
            <association property="area" javaType="area">
                <id property="id" column="aid"/>
                <result property="name" column="aname"/>
                <!-- 父级 -->
                <association property="parent" javaType="area">
                    <id property="id" column="pid"/>
                </association>
            </association>
        </association>
        <association property="category" javaType="category">
            <id property="id" column="cid"/>
            <result property="name" column="cname" />
            <result property="type" column="type" />
            <result property="status" column="cstatus" />
        </association>

        <collection property="photos" javaType="ArrayList" column="did"
                    ofType="photo" select="selectPhotoByDid"/>
    </resultMap>

    <!-- 按饭局id查询饭局照片 -->
    <select id="selectPhotoByDid" parameterType="long" resultType="photo">
        select * from photos where dinnerId=#{id}
    </select>

    <insert id="create" parameterType="dinner" useGeneratedKeys="true" keyProperty="id">
        insert into dinner(userId,titel, price, maximum, startTime, endTime, categoryId, label, address, thumbnail, details)
        values (#{user.id},#{titel},#{price},#{maximum},#{startTime},#{endTime},#{category.id},#{label},#{address},#{thumbnail},#{details})
    </insert>

    <insert id="createPhoto" parameterType="java.util.List">
        insert into photos (dinnerId, src, createTime) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dinner.id}, #{item.src}, #{item.createTime})
        </foreach>
    </insert>

    <select id="findByUserId" parameterType="long" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id
      and u.id=#{id} order by d.id desc
    </select>

    <select id="findByDinnerId" parameterType="long" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id
      and d.id=#{id} order by d.id desc
    </select>

    <update id="interest" parameterType="dinner">
        update dinner set  interest=#{interest}  where id=#{id}
    </update>

    <update id="enrolment" parameterType="dinner">
        update dinner set  enrolment=#{enrolment}  where id=#{id}
    </update>

    <select id="recommendDinner" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id and d.endTime>now()
      order by enrolment desc
    </select>

    <select id="fuzzySearch" parameterType="string" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id and d.endTime>now()
      and (titel like CONCAT('%', #{keyword}, '%') or details like CONCAT('%', #{keyword}, '%') or label like CONCAT('%', #{keyword}, '%'))
    </select>

    <select id="fuzzySearchDateDesc" parameterType="string" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id and d.endTime>now()
      and (titel like CONCAT('%', #{keyword}, '%') or details like CONCAT('%', #{keyword}, '%') or label like CONCAT('%', #{keyword}, '%'))
      order by startTime desc
    </select>

    <select id="fuzzySearchPriceDesc" parameterType="string" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id and d.endTime>now()
      and (titel like CONCAT('%', #{keyword}, '%') or details like CONCAT('%', #{keyword}, '%') or label like CONCAT('%', #{keyword}, '%'))
      order by price desc
    </select>

    <select id="fuzzySearchTimeSlot" parameterType="date" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id and d.endTime>now()
      and d.startTime &gt; #{arg0} and d.startTime &lt; #{arg1}
    </select>

    <select id="categorySearch" parameterType="long" resultMap="dinnerMap">
      select d.id did, titel,price,maximum,startTime,endTime,label,address,thumbnail,details,enrolment,interest,d.status dstatus,
      u.*, a.id aid, a.name aname, a.parentId pid, c.id cid,c.name cname,c.type,c.status cstatus
      from dinner d,users u,areas a,category c
      where d.categoryId=c.id and d.userId=u.id and u.areaId=a.id and d.endTime>now()
      and c.id=#{categoryId}
    </select>
</mapper>