<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roxy.maven.dinner.dao.UserDao">
    <resultMap id="userMap" type="user">
        <id property="id" column="id" />
        <result property="email" column="email" />
        <result property="emailStatus" column="emailStatus" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
        <result property="icon" column="icon" />
        <result property="sex" column="sex" />
        <result property="mobile" column="mobile" />
        <result property="mobileStatus" column="mobileStatus" />
        <result property="job" column="job" />
        <result property="about" column="about" />
        <result property="hostStatus" column="hostStatus" />
        <association property="area" javaType="area">
            <id property="id" column="aid"/>
            <result property="name" column="name"/>
            <!-- 父级 -->
            <association property="parent" javaType="area">
                <id property="id" column="pid"/>
            </association>
        </association>
    </resultMap>

    <select id="findByEmail" parameterType="string" resultMap="userMap">
      select u.id,email,emailStatus,password,nickname,icon,sex,mobile,mobileStatus,job,about,hostStatus,a.id as aid,name,a.parentId as pid
      from users u, areas a
      where u.areaId=a.id and u.email=#{email}
    </select>

    <select id="findById" parameterType="long" resultMap="userMap">
      select u.id,email,emailStatus,password,nickname,icon,sex,mobile,mobileStatus,job,about,hostStatus,a.id as aid,name,a.parentId as pid
      from users u, areas a
      where u.areaId=a.id and u.id=#{id}
    </select>
    
    <insert id="register" parameterType="user" useGeneratedKeys="true" keyProperty="id">
      insert into users(email,password,nickname,sex,mobile,job,about)
      values (#{email},#{password},#{nickname},#{sex},#{mobile},#{job},#{about})
    </insert>

    <update id="update" parameterType="user">
        update users
        <set>
            <if test="email !=null">
                email=#{email},
            </if>
            <if test="emailStatus !=null">
                emailStatus=#{emailStatus},
            </if>
            <if test="password !=null">
                password=#{password},
            </if>
            <if test="nickname !=null">
                nickname=#{nickname},
            </if>
            <if test="icon !=null">
                icon=#{icon},
            </if>
            <if test="sex !=null">
                sex=#{sex},
            </if>
            <if test="mobile !=null">
                mobile=#{mobile},
            </if>
            <if test="mobileStatus !=null">
                mobileStatus=#{mobileStatus},
            </if>
            <if test="job !=null">
                job=#{job},
            </if>
            <if test="area !=null">
                areaId=#{area.id},
            </if>
            <if test="about !=null">
                about=#{about},
            </if>
            <if test="hostStatus !=null">
                hostStatus=#{hostStatus}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>